html, body, .container {
  height: 98%;
}

body {
  background: green;
  color: white;
  }

  .container {
    position: relative;
  }

.container, .title, .image, .button {
  border: 1px red solid;
}

.title, .image, .button {
  width: 90%;
  position: absolute;
  
  left: 5%;
  right: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

}

.title {
  top: 2%;
  min-height: 15%;
}

.image {
  top: 20%;
  min-height: 50%;
}

.button {
  top: 73%;
  min-height: 15%;
}

a {
  text-decoration: none;
}
