html, body, .container {
  height: 98%;
}

body {
  background: green;
  color: white;
  }

  .container {
    position: relative;
  }

.container, .title, .savory, .sweet {
  border: 1px red solid;
}

.title, .savory, .sweet {
  width: 90%;
  position: absolute;
  
  left: 5%;
  right: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

}

.title {
  top: 2%;
  min-height: 15%;
}

.savory {
  top: 25%;
  min-height: 30%;
}

.sweet {
  top: 60%;
  min-height: 30%;
}

a {
  text-decoration: none;
}
