body {
  background: #B0C4B9;
  color: white;
  }


.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}




.title, .up, .first-choice, .second-choice, .third-choice, .fourth-choice {
  border: 1px #DD772C solid;
}


.first-choice{
  display: none;
}
.second-choice{
  display: none;
}

.third-choice{
  display: none;
}
.fourth-choice{
  display: none;
}
.taco{
  text-align: center;
  font-size: 60px;
}



a {
  text-decoration: none;
}

