body {
  background: #27252C;
  color: white;
  }


.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}


.first-choice{
  display: none;
}
.second-choice{
  display: none;
}

.third-choice{
  display: none;
}
.fourth-choice{
  display: none;
}
.taco{
  text-align: center;
  font-size: 60px;
  line-height: 1;
}

.blurb{
  text-align: center;
  font-size: 20px;
}

.source {
  text-align: center;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover { 
  text-decoration: none;
  color: white;
}



h1 {
  font-family: Cinzel Decorative;
  font-size: 100px;
}

p {
  font-family: Alegreya Sans SC;
  font-weight: 300;
}


/*tumbler animated icon*/
.icon-container { 
  width: 100px;
  height: 100px;
  background-image: url('../shakericon.png');
  border: 3px solid black;
  border-radius: 50%;
  background: cover no-repeat;
  background-size: 100% 100%;
  box-shadow: 
              inset 0px 2px 1px 1px rgba(204,198,197,.5), 
              inset 0px 0px 1px 1px rgba(204,198,197,.5);
 /*this is where the tumbler animation is defined*/
 -webkit-animation:icon-container .3s ease-in-out infinite alternate;

}
 
 /* 50% for smooth rotation; FROM & TO must be the same value */

 @-webkit-keyframes icon-container {
 from { -webkit-transform: rotate(-13deg); }
 50% { -webkit-transform: rotate(13deg); }
 to { -webkit-transform: rotate(-13deg); }
}

.title p{
  font-family: Alegreya Sans SC;
  font-weight: 400;
  font-size: 50px;
}

.Up { 
  width: 200px;
  height: 200px;
  background-image: url('../upicon.png');
  border: 4px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 65% 65%;
  color: rgba(0,0,0,0);
  background-position: center;
  margin: 0 auto;
  margin-bottom: 5%;
  box-shadow: 
              inset 0px 2px 1px 1px rgba(204,198,197,.5), 
              inset 0px 0px 1px 1px rgba(204,198,197,.5);
  z-index: 5;
}

.Rocks { 
  width: 200px;
  height: 200px;
  background-image: url('../grayrocks.png');
  border: 4px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 250% 300%;
  color: rgba(0,0,0,0);
  background-position: center;
  margin: 0 auto;
  box-shadow: 
              inset 0px 2px 1px 1px rgba(204,198,197,.5), 
              inset 0px 0px 1px 1px rgba(204,198,197,.5);
 
}

.Savory { 
  width: 200px;
  height: 200px;
  border: 4px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url('../savoryicon.png');
  background-size: 70% 50%;
  color: rgba(0,0,0,0);
  background-position: center;
  margin: 0 auto;
  margin-bottom: 5%;
  box-shadow: 
              inset 0px 2px 1px 1px rgba(204,198,197,.5), 
              inset 0px 0px 1px 1px rgba(204,198,197,.5);
 

}

.Sweet { 
  width: 200px;
  height: 200px;
  border: 4px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url('../sweeticon.png');
  background-size: 70% 50%;
  color: rgba(0,0,0,0);
  background-position: center;
  margin: 0 auto;
  box-shadow: 
              inset 0px 2px 1px 1px rgba(204,198,197,.5), 
              inset 0px 0px 1px 1px rgba(204,198,197,.5);
 
}


/*start of pulsing glow animation*/
@-webkit-keyframes pulse_transform {
  0% {
    -webkit-transform: rotate(0deg) scale(3);
            transform: rotate(0deg) scale(3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(3);
            transform: rotate(360deg) scale(3);
  }
}

@keyframes pulse_transform {
  0% {
    -webkit-transform: rotate(0deg) scale(3);
            transform: rotate(0deg) scale(3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(3);
            transform: rotate(360deg) scale(3);
  }
}
@-webkit-keyframes pulse_hue {
  0% {
    -webkit-filter: hue-rotate(0deg) grayscale(0%);
            filter: hue-rotate(0deg) grayscale(0%);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) grayscale(0%);
            filter: hue-rotate(360deg) grayscale(0%);
  }
}
@keyframes pulse_hue {
  0% {
    -webkit-filter: hue-rotate(0deg) grayscale(0%);
            filter: hue-rotate(0deg) grayscale(0%);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) grayscale(0%);
            filter: hue-rotate(360deg) grayscale(0%);
  }
}
.glow {
  overflow: hidden;
  width: 250px;
  margin: 25px auto;
  box-sizing: border-box;
  padding: 26.66667px;
  /* background: red; */
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.glow::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  /* box-shadow: 0 0 57px 38px #000; */
  position: absolute;
  z-index: -1;
  background-image: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 15%, #00ff00 30%, #00ffff 50%, #0000ff 65%, #ff00ff 80%, #ff0000 100%);
  background-image: linear-gradient(to right, #ff0000 0%, #ffff00 15%, #00ff00 30%, #00ffff 50%, #0000ff 65%, #ff00ff 80%, #ff0000 100%);
  background-size: 100% 100%;
  -webkit-animation: pulse_transform 10s linear infinite, pulse_hue 10s linear infinite;
          
  animation: pulse_transform 10s linear infinite, pulse_hue 10s linear infinite;
}

.glow::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: inset 0 0 40px 32px #27252c;
  border-radius: 50%;
  border: 1px solid transparent;
}

/*.outer .inner {
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-clip: padding;
  width: 100%;
  height: 100%;
}*/
